.profile-modal {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  flex-grow: 1;

  background-color: var(--main-black);
  border: 2px solid #fff;
  border-radius: 10px;

  position: relative;

  padding: 30px 35px 30px 30px;
  margin: 40px;
}

.profile-modal__header {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.profile-modal__img-wrapper {
  width: 60px;
  height: 60px;
  background-color: var(--light-grey);
  border-radius: 100%;
  text-align: center;

  padding-top: 7px;
  font-weight: 700;
  font-size: 38px;
  color: var(--grey);
}

.profile-modal__title {
  font-weight: 700;
  font-size: 24px;
}

.profile-modal__subtitle {
  font-size: 20px;
  font-weight: 500;
  margin: 25px 0 40px 0;
}

.profile-modal__subtitle img {
  width: 18px;
  margin-left: 10px;
}

.profile-modal__form {
  display: flex;
  flex-direction: column;
}

.profile-modal__label {
  margin: 0 0 5px 8px;
  font-size: 14px;
  font-weight: 400;
}

.profile-modal__input {
  font-weight: 400;
  font-size: 16px;

  height: 40px;

  background: none;
  border: 1px solid #747474;
  border-radius: 10px;

  padding: 5px 15px;
  margin-bottom: 15px;
}

.profile-modal__input::placeholder {
  color: var(--grey);
  font-size: 14px;
}

.profile-modal__btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 50px;
}

.profile-modal__btn {
  background: none;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;

  cursor: pointer;

  padding: 5px 10px;
}

.profile-modal__btn img {
  width: 18px;
  margin-right: 8px;
}
